body {
    background-color: #fcf8f1;
    font-family: "Poppins", sans-serif;
    color: #1d5175;
    min-height: 100%;
    max-width: 1160px;
    margin: auto;
}

a {
    all: unset;
    cursor: pointer;
}

header {
    max-width: 100%;
    padding: 2%;
    overflow: hidden;
    vertical-align: middle;  
}

.title{
    font-weight: 800;
    font-size: clamp(16px, 30px, 1.5vw);
    float: left;    
}

.topnav {
    float: right;
    width: 60%;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    transform: translateY(50%);
}

.nav-option {
    font-weight: 500;
    font-size: clamp(16px, 18px, 0.9vw);
    padding: 0% 2% 0% 2%;
    color: #71716F;
}

.nav-option:hover {
    color: #1d5175;
}

h1 {
    font-size: clamp(16px, 50px, 3vw);
    font-weight: 500;
    margin: 0;
}

.home-text {
    display: flex;
    flex-direction: column;
}

h2 {
    font-weight: 500;
    margin: 0;
    font-size: clamp(16px, 18px, 1.5vw);
    padding: 2% 0% 2% 0%;
}

.home-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5% 6% 5% 6%;
}

.home-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home-image{
    width: 100%;
}

.active{
    color: #1d5175;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 768px) {
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .topnav.responsive {
        position: relative;
        padding-right: 3%;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 426px) {
    .home-grid {
        grid-template-columns: 100%;
    }

    .home-image{
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}